.component-container {
  display: flex;
  margin: 1em 0em;
}

.component-container input, .component-container button {
  border: 1px solid #c7cbd0;
}

.component-container input {
  flex: 1;
  padding: 5px;
}

.component-container button {
  color: white;
  background: #3488d2;
}
