/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #ecf0f5;
  margin: 0px;
  height: 100%;
}

button, a {  
    cursor: pointer;
}
button:focus, a:focus {
  outline: none;
}
